<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THERE ARE ONLY 151 POKEMON AND MEW IS UNDER THE TRUCK BY THE SS ANNE</h1>

    <div >
        <ul>
        <%  for (var critter of critters) {%>
            <!-- <li><a href="<%= critter.url %>"> View Details </li>  -->
            <!-- <li class="name"><%= critter.name  %> </li> -->

            <form method="post" action="/add">
            <h2><%= critter.name %></h2>
            <input type="hidden" name="url" value="<%=critter.url%>"> 
            <input type="hidden" name="name" value="<%=critter.name%>"> 
            <button type="submit">Add to Favorites!</button>
            </form>
            <% } %>
        </ul>
    TESTING 123
</body>
</html>
