<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://kit.fontawesome.com/6338afea35.js" crossorigin="anonymous"></script>

  <head>
    <%- include ( '../layout/head' ) %>
  </head>
  <body>
    <header>
      <%- include ( '../layout/header' ) %>
    </header>
    <main>
      <div>
        <h1><%= ratings.total_ratings %></h1>
        <h1><%= ratings.total_votes %></h1>
        <h1><%= average1 %></h1>
      </div>
      <section>
        <div>
          <img src="<%= image_url%>" width="200px" />
          <h2><%= name %></h2>
          <p><%= address %></p>
          <form method="post" action="/add-ratings">
            <input type="number" name="rating" placeholder="0-5" />
            <input type="hidden" name="total_ratings" value="<%= ratings.total_ratings %>" />
            <input type="hidden" name="total_votes" value="<%= ratings.total_votes %>" />
            <input type="hidden" name="yelp_id" value="<%= yelp_id %>" />
            <input type="hidden" name="image_url" value="<%= image_url %>" />
            <input type="hidden" name="name" value="<%= name %>" />
            <input type="hidden" name="address" value="<%= address %>" />
            <button type="submit">Rate it</button>
            <i class="fas fa-paw"></i>
          </form>
        </div>

        <div class="thank_you_message"><h1>Thank you rating!!!</h1></div>

        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ipsam facere quibusdam! Officia quod earum voluptatibus temporibus laudantium ullam deserunt. Vero necessitatibus harum excepturi illo eum voluptatibus commodi dolore provident.
          </p>
        </article>
      </section>

      <div>
        <h3>Nearby dog friendly locations</h3>
        <button class="truck_button">Food Truck</button>
        <button class="groomers_button">Groomers</button>
        <button class="vet_button">Vets</button>
        <button class="dayCare_button">Dog Day Care</button>
      </div>

      <div class="businesses_container">
        <section class="truck_card">
          <% foodTruckArr.forEach(truck => { %>
          <div class="businesses_cards">
            <h2><%=truck.food_truck_name%></h2>
            <img src="<%= truck.food_truck_image_url%>" width="200px" />
            <p><%= truck.food_truck_address %></p>
            <p><%= truck.food_truck_phone %></p>
          </div>
          <% }) %>
        </section>

        <section class="groomer_card">
          <% groomersArr.forEach(groomer => { %>
          <div class="businesses_cards">
            <h2><%=groomer.groomers_name%></h2>
            <img src="<%= groomer.groomers_image_url%>" width="200px" />
            <p><%= groomer.groomers_address %></p>
            <p><%= groomer.groomers_phone %></p>
          </div>
          <% }) %>
        </section>

        <section class="vet_card">
          <% vetsArr.forEach(vet => { %>
          <div class="businesses_cards">
            <h2><%=vet.vets_name%></h2>
            <img src="<%= vet.vets_image_url%>" width="200px" />
            <p><%= vet.vets_address %></p>
            <p><%= vet.vets_phone %></p>
          </div>
          <% }) %>
        </section>

        <section class="dayCare_card">
          <% dogDayCareArr.forEach(care => { %>
          <div class="businesses_cards">
            <h2><%=care.dog_dayCare_name%></h2>
            <img src="<%= care.dog_dayCare_image_url%>" width="200px" />
            <p><%= care.dog_dayCare_address %></p>
            <p><%= care.dog_dayCare_phone %></p>
          </div>
          <% }) %>
        </section>
      </div>
    </main>
    <footer>
      <%- include ( '../layout/footer' ) %>
    </footer>
  </body>
</html>
