<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ( '../layout/head' ) %>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvwxvjpYA_aEgOJNkChbmc-Vxwk4fVf7E&callback=initMap&libraries=&v=weekly" defer></script>
  </head>

  <body>
    <header>
      <%- include ( '../layout/header' ) %>
    </header>
    <main>
      <div class="details-map-container">
        <span>
          <div id="map"></div>
        </span>
      </div>
      
      <div class="details-top">
        <h3><%= name %></h3>
        <img src="<%= image_url%>" />
        <p><%= address %></p>
      </div>
      
      <div class="rate-it-container">
        <p> <%= average1 %> <i class="fa fa-star" aria-hidden="true"></i> <%= ratings.total_votes %> <i class="fa fa-user" aria-hidden="true"></i> </p>
        <form method="post" action="/add-ratings">
          <input class="rating-input" type="number" name="rating" placeholder="0-5" min="1" max="5" />
          <input type="hidden" name="total_ratings" value="<%= ratings.total_ratings %>" />
          <input type="hidden" name="total_votes" value="<%= ratings.total_votes %>" />
          <input type="hidden" name="yelp_id" value="<%= yelp_id %>" />
          <input type="hidden" name="image_url" value="<%= image_url %>" />
          <input type="hidden" name="name" value="<%= name %>" />
          <input type="hidden" name="address" value="<%= address %>" />
          <input type="hidden" name="lat" value="<%= lat %>" />
          <input type="hidden" name="long" value="<%= lng %>" />
          <button type="submit">Add Rating</button>
        </form>
      </div>

      <script>
        initMap();
        function initMap() {
          let parkName = '<%= name %>';
          let latitude = <%= lat %>;
          let longitude = <%= lng %>;
          let coordinates = {
            lat: latitude,
            lng: longitude,
          };

          var map;
          var myOptions = {
            zoom: 10,
            center: coordinates,
          };
          map = new google.maps.Map(document.getElementById('map'), myOptions);
          dropPark(latitude, longitude, parkName);
          function dropPark(lat, lng, parkName) {
            var location = { lat: lat, lng: lng };
            var marker = new google.maps.Marker({ position: location, map: map, title: parkName });
          }
        }
      </script>

      <div class="thank_you_message"><h1>Thank you rating!!!</h1></div>

      <div class="business-buttons-container">
        <h3>Nearby dog friendly locations</h3>
        <div class="business-buttons"></div>
        <button class="truck_button">Food Truck</button>
        <button class="groomers_button">Groomers</button>
        <button class="vet_button">Vets</button>
        <button class="dayCare_button">Dog Day Care</button>
      </div>

      <section class="truck_card category">
        <% foodTruckArr.forEach(truck => { %>
        <div class="business-card">
          <h2><%=truck.food_truck_name%></h2>
          <img src="<%= truck.food_truck_image_url%>" width="200px" />
          <p><%= truck.food_truck_address %></p>
          <p><%= truck.food_truck_phone %></p>
        </div>
        <% }) %>
      </section>

      <section class="groomer_card category">
        <% groomersArr.forEach(groomer => { %>
        <div class="business-card">
          <h2><%=groomer.groomers_name%></h2>
          <img src="<%= groomer.groomers_image_url%>" width="200px" />
          <p><%= groomer.groomers_address %></p>
          <p><%= groomer.groomers_phone %></p>
        </div>
        <% }) %>
      </section>

      <section class="vet_card category">
        <% vetsArr.forEach(vet => { %>
        <div class="business-card">
          <h2><%=vet.vets_name%></h2>
          <img src="<%= vet.vets_image_url%>" width="200px" />
          <p><%= vet.vets_address %></p>
          <p><%= vet.vets_phone %></p>
        </div>
        <% }) %>
      </section>

      <section class="dayCare_card category">
        <% dogDayCareArr.forEach(care => { %>
        <div class="business-card">
          <h2><%=care.dog_dayCare_name%></h2>
          <img src="<%= care.dog_dayCare_image_url%>" width="200px" />
          <p><%= care.dog_dayCare_address %></p>
          <p><%= care.dog_dayCare_phone %></p>
        </div>
        <% }) %>
      </section>
    </main>
    <footer>
      <%- include ( '../layout/footer' ) %>
    </footer>
  </body>
</html>
