<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ( '../layout/head' ) %>
</head>
<body>
    <header>
        <%- include ( '../layout/header' ) %>
    </header>
   <main>
        <h1>Dog Park App</h1>

        <div class="search-container">
            <form method="get" action="/render-results">
                <fieldset>
                <input type="text" placeholder="zipcode" name="searchQuery" required></input>
                <button type="submit">Search</button>
                </fieldset>
            </form>
        </div>
       
        <div class="map-container">
            <a href="https://placeholder.com"> 
            <img src="https://via.placeholder.com/334x200?text=map" alt="">
            </a>
        </div>
    
        <section class="results-section">
            <% for(var park of parkArr){ %>
                <div class="result-card">
                    <img src="<%= park.image_url %>" width="200px" >
                    <h2> <%= park.name %> </h2>
                    <p> <%= park.address %> </p>
                    <form class="location-form" method="post" action="/render-details"> 
                        <input type="hidden" name="image_url" value="<%= park.image_url %>">
                        <input type="hidden" name="name" value="<%= park.name %>">
                        <input type="hidden" name="address" value="<%= park.address %>">
                        <input type="hidden" name="yelp_id" value="<%=park.yelp_id%>">
                        <button type="submit">More Details</button>
                    </form>
                </div>
            <%} %>
        </section>
            
    </main>
    <footer>
        <%- include ( '../layout/footer' ) %>
    </footer>
    </body>
</html>